@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

$Desaturated-Red: hsl(0, 36%, 70%);
$Soft-Red: hsl(0, 93%, 68%);
$Dark-Grayish-Red: hsl(0, 6%, 24%);

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        font-family: 'Josefin Sans';

        .image-section{
            img{
                height: 100vh;
            }
        }

        .info-section{
            padding: 40px 250px 0px 150px;

            .soon{
                color: $Desaturated-Red;
                font-weight: 300;

                .coming{
                    color: $Dark-Grayish-Red;
                    font-weight: 600;
                }
            }

            .store-logo{
                padding-bottom: 90px;
            }

            p{
                color: $Desaturated-Red;
                padding: 10px 0px 10px 0px;
            }

            .warning-message{
                color: $Soft-Red;
                font-size: 12px;
                padding-left: 10px;
                opacity: 0;
            }

            .icon-error{
                position: absolute;
                width: 20px;
                left: 330px;
                top: 15px;
                opacity: 0;
            }

            h1{
                font-size: 60px;
            }

            .storeForm{
                position: relative;

                .emailInput{
                    border-radius: 20px;
                    border-color: $Desaturated-Red;
                    border-width: 1px;
                    border-style: solid;
                    height: 48px;
                    width: 100%;
                    padding-left: 20px;

                    &::placeholder{
                        color: $Desaturated-Red;
                        padding-left: 20px;
                    }

                    &:focus{
                        border: none;
                        outline: none;
                    }
                }

                .formButton{
                    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)); 
                    border-radius: 20px;
                    position: absolute;
                    right: 0%;
                    width: 80px;
                    height: 48px;
                    border: none;
                }
            }

            
        }
    }
}
